@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$black: #292929;
$light-black: #696969;
$white: #FFF;
$light-black: #696969;

* {
  box-sizing: border-box;
}
body *{
  font-family: $poppins;
  text-decoration: none;
}
body {
  height: 100vh;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::selection {
  color: $white;
  background: $black;
}
::-webkit-scrollbar-track {
	background: $white;
}
::-webkit-scrollbar {
	width: 15px;
	overflow: hidden;
}
::-webkit-scrollbar-thumb {
	border: 5px solid rgb(255, 255, 255);
	background-clip: padding-box;
	border-radius: 10px;
	background-color: $black;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(49, 49, 49);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 138px;
  background: $white;
  padding: 0px 41px;
}
.navGroup1 {
  display: flex;
  align-items: center;
  gap: 17px;

  p {
    font-family: $montserrat;
    font-size: 25px;
    font-weight: 600;
    color: $black;
  }
}
.navGroup2 {
  display: flex;
  border-radius: 1000px;
  background: #F7F7F7;
  height: 52px;
}
.navElementContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 40px;
  border-radius: 1000px;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;

  p {
    font-weight: 500;
    font-size: 16px;
    font-family: $montserrat;
    color: $black;
    transition: color 0.5s;
  }

  &:hover {
    background: $black;

    p {
      color: $white;
    }
  }
}
.homeButtonGrid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}
.homeMain {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;

  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    color: $black;
    max-width: 880px;
  }
}
.tempMain {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;

  h2 {
    font-size: 50px;
    color: $black;
  }

  h1 {
    font-size: 75px;
    color: $black;
  }
}
.tempAlignImages {
  display: flex;
  gap: 50px; 
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
  
  img {
    height: 100px;
  }
}
.homeMainWin2025 {
  width: 100%;
  max-width: 1000px;
  border-radius: 25px;
  margin-top: 75px;
  margin-bottom: 100px;
}
.homeMainFundUs {
  display: flex;
  gap: 25px;
}
.gofundmeSubheader {
  margin-top: 25px;
  font-weight: bold;
  width: 100%;
  max-width: 800px;
  font-size: 25px;
  line-height: 35px;
}
.tempGrid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  gap: 50px;
  margin: 75px 10px;

  div {
    text-align: left;
    max-width: 400px;

    p {
      font-size: 20px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    
    span {
      line-height: 25px;

      u {
        text-decoration: underline;
      }

      ol {
        margin-left: 20px;
      }

      b {
        font-weight: 600;
      }
    }
  }
}
.homeDescription {
  margin-top: 30px;
  max-width: 543px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: $light-black;
}
.homeAboutButton {
  margin-top: 50px;
  width: 167px;
  height: 61px;
  background: $black;
  border-radius: 10px;
  outline: 0px;
  border: 0px;
  color: $white;
  font-weight: 400;
  font-size: 20px;
  transition: background 0.5s;
  cursor: pointer;

  &:hover {
    background: rgb(54, 54, 54);
  }
}
.competitionViewButton {
  width: 250px !important;
}
.homeImageGrid {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;

  img {
    border-radius: 25px;
    width: 250px;
    object-fit: cover;
  }

  img:nth-child(1), img:nth-child(5) {
    height: 387px;
  }

  img:nth-child(2), img:nth-child(4) {
    height: 250px;
  }

  img:nth-child(3) {
    height: 154px;
  }
}
.competitionsMain {
  margin-top: 175px;
}
.compeitionsHeaders {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  h1 {
    color: $black;
    font-weight: 700;
    font-size: 60px;
  }
  p {
    margin-top: 20px;
    color: $light-black;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    max-width: 530px;
  }
}
.allCompetitions {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 150px;
}
.compeitionElement {
  display: flex;
  gap: 110px;
}
.compeitionElementImage {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50px 50px 50px 50px;
}
.competitionElementTextAlign {
  display: flex;
  flex-flow: column;
  justify-content: center;

  div {
    h2 {
      font-weight: 700;
      font-size: 45px;
      line-height: 60px;
      color: $black;
      max-width: 444px;
    }
    p {
      margin-top: 25px;
      font-weight: 400;
      font-size: 17px;
      line-height: 35px;
      color: $light-black;
      max-width: 530px;
    }
    button {
      @extend .homeAboutButton;
    }
  }
}
.compeitionElement2 {
  margin-top: 185px;
  flex-flow: row-reverse;
}
.sponsorsMain {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 180px;
  padding: 0px 25px;
}
.sponsorsHeaders {
  @extend .compeitionsHeaders;
}
.sponsorContainer {
	img {
		width: 150px;
	}
}
.sponsorsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 1085px;
  margin-top: 105px;
}
.sponsorContainer {
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D5D5D5;
}
.aboutMain {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.aboutContainer {
  display: flex;
  gap: 142px;
}
.aboutSubheader {
  font-weight: 400;
  font-size: 20px;
  color: $light-black;
}
.aboutContainerText {
  max-width: 572px;

  h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    color: $black;
    margin-top: 15px;
  }

  button {
    @extend .homeAboutButton;
  }
}

.goFundMeButton {
  background: #008044;
}

.aboutDescription {
  margin-top: 32px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $light-black;
}
.pricingMain {
  display: flex;
  flex-flow: column;
  margin-top: 200px;
  align-items: center;
}
.pricingHeaders {
  @extend .compeitionsHeaders;
}
.pricingComponents {
  width: 100%;
  max-width: 1085px;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  flex-wrap: wrap;
  gap: 50px 0px;
}
.pricingComponent {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #F4F4F4;
  width: 100%;
  max-width: 325px;
  height: 538px;
}
.pricingComponentSubheader {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  color: $black;
  background: #F3F3F3;
  border-radius: 5px;
  width: max-content;
}
.pricingComponentPricing {
  display: flex;
  margin-top: 25px;
}
.pricingComponentPricingHeader {
  font-weight: 600;
  font-size: 35px;
  color: $black;
}
.pricingComponentPricingToAndYear {
  font-weight: 400;
  font-size: 16px;
  color: $light-black;
  margin-top: 5px;
  margin-left: 3px;
}
.seperationLine {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  border-radius: 5px;
}
.pricingComponentBenefits {
  display: flex;
  flex-flow: column;
  gap: 21px;
}
.pricingComponentBenefit {
  display: flex;
  gap: 16px;

  p {
    margin-top: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $light-black;
  }
}
.pricingComponentRelative {
  position: relative;
  height: 100%;
}
.pricingComponentButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 49px;
  background: $black;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  color: $white;
  outline: none;
  border: none;
  transition: background 0.5s;
  cursor: pointer;

  &:hover {
    background: rgb(54, 54, 54);
  }
}
.pricingComponentGold {
  height: 580px;
}
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: $black;
  margin-top: 200px;
  padding: 100px 115px;
  padding-bottom: 45px;
}
.footerHeader {
  font-weight: 700;
  font-size: 40px;
  color: $white;
  text-align: center;
  line-height: 50px;
}
.footerPricingButton {
  margin-top: 45px;
  width: 232px;
  height: 60px;
  border-radius: 1000px;
  background: #323232;
  font-weight: 400;
  font-size: 18px;
  color: $white;
  border: none;
  outline: none;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $black;
  }
}
.footerElements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 185px;
}
.footerContactSubheader {
  font-weight: 500;
  font-size: 16px;
  color: #969696;
}
.footerContactEmail {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}
.footerElement2 {
  display: flex;
  gap: 23px;
}
.socialButton {
  width: 65px;
  height: 65px;
  background: #323232;
  color: $white;
  border: none;
  outline: none;
  border-radius: 1000px;
  font-size: 20px;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;

  &:hover {
    background: $white;
    color: $black;
  }
}
.navHamburger {
	display: none;
	z-index: 5;
	cursor: pointer;

	rect {
		fill: #181818;

		&:nth-child(1) {
			transition: transform 1s, opacity 1s;
		}
		&:nth-child(2) {
			transition: transform 1s, opacity 1s;
			opacity: 1;
		}
		&:nth-child(3) {
			transition: transform 1s, opacity 1s;
		}
	}
}
.navHamburgerOpen {
  z-index: 5;

	rect {
		fill: $white;
		
		&:nth-child(1) {
			transform: translateY(9px) rotate(45deg);
			transform-origin: center 0;
		}
		&:nth-child(2) {
			transform: translateY(-10px) rotate(-45deg);
			transform-origin: center 22px;
		}
		&:nth-child(3) {
			opacity: 0;
		}
	}
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 100%;
  background: $black;
  z-index: 2;
  transition: right 1s cubic-bezier(.42,0,0,1.01);
  padding: 170px 85px;
}
.dropdownClosed {
  right: -55vw;
}
.dropdownOpen {
  right: 0vw;
}
.dropdownElements {
  display: flex;
  flex-flow: column;
  gap: 55px;
}
.dropdownElement {
  font-weight: 500;
  font-size: 35px;
  color: rgb(209, 209, 209);
  cursor: pointer;
  transition: color 0.5s;
  width: max-content;

  &:hover {
    color: $white;
  }
} ikm
.dropdownSocials {
  display: flex;
  gap: 50px;
  margin-top: 80px;
}
.startedFormDetails {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.getStartedInformation {
  max-width: 1000px;
  color: $black;
  line-height: 25px;
}
.getStartedHeaders {
  @extend .compeitionsHeaders;
  margin-bottom: 50px;
}
.getStartedButtons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  flex-wrap: wrap;
  margin-bottom: 100px;

  button {
    width: 350px;
    height: 65px;
    background: $black;
    border-radius: 10px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.5s;
    border: none;
    outline: none;

    &:hover {
      background: rgb(54, 54, 54);
    }
  }
}
@media screen and (max-width: 400px) {
  .getStartedButtons button {
    width: 280px;
    font-size: 15px;
  }
}
.getStartedAllInformation {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0px 25px;
}
.getStartedInformationHeader {
  font-weight: 700;
  font-size: 30px;
  margin-top: 50px;
}
.getStartedBudget {
  width: 100%;
  max-width: 700px;
  border: 1px solid #D5D5D5;
  margin-top: 50px;
}
.getStartedBudgetElement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #D5D5D5;
  font-size: 15px;
  color: rgb(139, 139, 139);

  &:last-child {
    border-bottom: 0px;

    .getStartedBudgetHeader, .getStartedBudgetCost {
      font-weight: 700;
    }
  }
}
.getStartedBudgetHeader {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  text-align: left;
}
.getStartedBudgetCost {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 10px 10px;
  border-left: 1px solid #D5D5D5;
}
.getStartedInformationBenefits {
  margin-top: 50px;
  max-width: 700px;
  text-align: left;

  strong {
    font-weight: 700;
  }

  ul {
    list-style-type: circle;
    margin-left: 40px;

    li {
      margin-top: 10px;
    }
  }
}
.getStartedImage {
  border-radius: 25px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 700px;
}
.getStartedInformationHeaderBenefits {
  margin-top: 100px;
}
.chequeComponent {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  padding: 0px 25px;
}
.chequePaymentInformation {
  @extend .getStartedInformation;
}
.chequePaymentHeaders {
  @extend .getStartedHeaders;
}
.chequeForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px 50px;
}
.chequeFormButton {
  width: 250px;
  height: 65px;
  margin-top: 100px;
  background: $black;
  border-radius: 10px;
  color: $white;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.5s;
  border: none;
  outline: none;

  &:hover {
    background: rgb(54, 54, 54);
  }
}
.onlineComponent {
  @extend .chequeComponent;
}
.onlinePaymentHeaders {
  @extend .getStartedHeaders;
}
.onlinePaymentInformation {
  @extend .getStartedInformation;

  strong {
    font-weight: 700;
  }
}
.onlinePaymentMethod {
  @extend .chequeFormButton;
}
.sponsorsHome {
  margin-top: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0px 15px;

  h1 {
    font-weight: 700;
    font-size: 75px;
    line-height: 85px;
    color: $black;
    max-width: 880px;
  }
  button {
    @extend .homeAboutButton;
    margin-top: 13px;
  }

  img {
    margin-top: 150px;
  }
}
.sponsorsHomeDescription {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #9D9D9D;
  max-width: 543px;
}
.sponsorsButtonHeader {
  margin-top: 33px;
  font-weight: 700;
  font-size: 18px;
  color: $black;
}
.sponsorTier {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  margin-top: 218px;

  h2 {
    font-weight: 700;
    font-size: 65px;
    color: $black;
  }
}
.sponsorTierDescription {
  margin-top: 15px;
  font-weight: 400;
  font-size: 25px;
  color: #9D9D9D;
  line-height: 30px;
}
.sponsorComponentAlign {
  width: 100%;
  max-width: 1210px;
  margin-top: 27px;
}
.sponsorComponent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}
.sponsorNumber {
  position: absolute;
  left: -27px;
  font-weight: 800;
  font-size: 300px;
  line-height: 380px;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #F2F2F2;
  z-index: -1;
}
.sponsorComponentHeader {
  margin-top: 195px;
  font-weight: 600;
  font-size: 68px;
  color: $black;
  max-width: 454px;
}
.sponsorComponentDescription {
  margin-top: 52px;
  font-weight: 400;
  font-size: 18px;
  color: #BCBCBC;
  line-height: 30px;
  max-width: 605px;
  margin-bottom: 52px;
}
.sponsorComponentInformation {
  position: relative;

  button {
    width: 230px;
    height: 61px;
    background: $black;
    border-radius: 10px;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background 0.5s;

    &:hover {
      background: rgb(54, 54, 54);
    }
  }
}
.sponsorComponentLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 415px;
  height: 375px;
  border: 2px solid #F4F4F4;
  border-radius: 25px;

  img {
    width: 250px;
  }
}
.sponsorComponent2 {
  margin-top: 100px;
  flex-flow: row-reverse;
}
.sponsorComponentHeaderGold {
  font-size: 50px;
  line-height: 50px;
  margin-top: 0px;
}
.goldSponsorComponent .sponsorComponentInformation {
  .sponsorComponentHeader {
    font-size: 50px;
    line-height: 50px;
    margin-top: 0px;
  }
}
.silverComponentAlign {
  margin-top: 91px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1210px;
  gap: 25px;
  flex-wrap: wrap;
}
.silverComponentSponsor {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 356px;
  height: 323px;
  border-radius: 25px;
  border: 2px solid #F4F4F4;

  img {
    width: 200px;
  }

  p {
    margin-top: 15px;
    color: $light-black;
  }
}
.goldSponsorComponent {
  margin-top: 125px;
}
.getStartedNotification {
  font-weight: 700;
  margin-top: 25px;
}
.generousComponentSponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 228px;
  border-radius: 25px;
  border: 2px solid #F4F4F4;

  img {
    width: 150px;
  }
}
.sponsorTier {
  padding: 0px 25px;
}
.competitionMainAlign {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 125px;
}
.competitions {
  width: 100%;
  max-width: 776px;
  padding: 0px 25px;

  h1 {
    font-weight: 600;
    font-size: 40px;
  }

  button {
    border: 2px solid $white;
    border-radius: 5px;
    margin-top: 35px;
    width: 182px;
    height: 42px;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    color: $white;
    transition: background 0.5s, color 0.5s;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
.competitionCard {
  width: 100%;
  padding: 22px 29px;
  background: $black;
  border-radius: 25px;
}
.competitionCards {
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  gap: 27px;
}
.competitionCardHeader {
  font-weight: 600;
  font-size: 22px;
  color: $white;
}
.competitionCardDescription {
  margin-top: 23px;
  font-weight: 400;
  font-size: 15px;
  color: #9E9E9E;
  line-height: 23px;
}



.homeWinImage {
  width: 550px;
  height: 350px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 200px;
}



@media screen and (max-width: 1350px) {
  .homeImageGrid img:nth-child(3) {
    display: none;
  }
  .compeitionElement  {
    flex-flow: column;
  }
  .competitionElementTextAlign {
    text-align: center;

    div {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
  .compeitionElement {
    align-items: center;
    gap: 65px;
  }
}
@media screen and (max-width: 1250px) {
  .navHamburger {
    display: block;
  }
  .navGroup2 {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .aboutContainer {
    gap: 80px;
  }
  .aboutMain {
    padding: 0px 25px;
  }
  .sponsorsHome img {
    width: 800px;
  }
  .sponsorComponent {
    flex-flow: column-reverse;
  }
  .sponsorComponentInformation {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
  .sponsorNumber {
    left: 0;
    right: 0;
  }
  .sponsorComponentAlign {
    margin-top: 150px;
  }
  .sponsorComponent2 {
    margin-top: 150px;
  }
  .goldSponsorComponent:nth-child(1) {
    margin: 0px;
  }
  .goldSponsorComponent .sponsorComponentInformation .sponsorComponentHeader {
    margin-top: 50px;
  }
  .sponsorComponentHeaderGold {
    margin-top: 50px;
    font-size: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .homeImageGrid img:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .aboutContainer {
    flex-flow: column;
    align-items: center;
    gap: 125px;

    img {
      width: 350px;
    }
  }
  .aboutContainerText {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 850px) {
  .dropdown {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    width: 100vw;
  }
  .dropdownClosed {
    right: -100vw;
  }
  .dropdownElements {
    align-items: center;
  }
  .sponsorsHome img {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  .homeMain h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .homeMain {
    padding: 0px 10px;
  }
  .homeImageGrid {
    flex-flow: column;
    width: 100%;
    margin-top: 100px;
    gap: 50px;

    img {
      height: 250px;
      width: 100%;
      max-width: 400px;
      object-fit: cover;
      border-radius: 25px;
    }
  }
  .compeitionElementImage {
    width: 400px;
    height: 400px;
  }
  footer {
    padding: 100px 50px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 700px) {
  .sponsorsSection {
    grid-template-columns: 1fr;
  }
  .sponsorsMain {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 650px) {
  .footerElements {
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .sponsorsHome h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .sponsorsHome img {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .compeitionsHeaders {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 15px;
    }
  }
  .allCompetitions {
    margin-top: 100px;
  }
  .footerHeader {
    font-size: 30px;
    line-height: 40px;
  }
  .getStartedInformation {
    font-size: 13px;
  }
  .getStartedAllInformation {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 500px) {
  .homeMain {
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .homeDescription {
    font-size: 15px;
    line-height: 25px;
  }
  .homeAboutButton {
    width: 150px;
    height: 52px;
    font-size: 17px;
  }
  .sponsorTierDescription {
    font-size: 20px;
  }
  .sponsorTier h2 {
    font-size: 50px;
  }
  .sponsorComponentHeader {
    font-size: 50px;
  }
  .sponsorComponentDescription {
    font-size: 15px;
    line-height: 25px;
  }
  .sponsorComponentInformation button {
    width: 200px;
    height: 50px;
    font-size: 15px;
  }
  .sponsorNumber {
    font-size: 250px;
  }
  .sponsorTier {
    margin-top: 150px;
  }
  .sponsorComponentAlign {
    margin-top: 100px;
  }
}
@media screen and (max-width: 450px) {
  .compeitionElementImage {
    width: 300px;
    height: 300px;
    border-radius: 25px;
  }
  .competitionElementTextAlign div {
    h2 {
      font-size: 30px;
      line-height: 40px;
    }
    p {
      font-size: 14px;
      line-height: 30px;
    }
  }
  .sponsorsHome {
    h1 {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .sponsorsHomeDescription {
    font-size: 15px;
    line-height: 30px;
  }
}
@media screen and (max-width: 400px) {
  .aboutContainerText {
    h3 {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .aboutDescription {
    font-size: 14px;
  }
  .aboutContainer {
    gap: 100px;

    img {
      width: 300px;
    }
  }
  .competitions {
    padding: 0px 10px;
    
    h1 {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 350px) {
  .dropdownSocials {
    gap: 35px;
  }
  .getStartedInformationHeaderBenefits {
    font-size: 25px;
  }
  .getStartedBudgetHeader {
    font-size: 13px;
  }
  .getStartedBudgetCost {
    padding: 10px 5px;
    font-size: 13px;
  }
  .sponsorComponentLogo img {
    width: 200px;
  }
  .sponsorComponentHeader {
    font-size: 40px;
  }
  .sponsorTier {
    padding: 0px 15px;
  }
  .goldSponsorComponent .sponsorComponentInformation .sponsorComponentHeader {
    font-size: 40px;
  }
  .sponsorNumber {
    font-size: 200px;
  }
  nav {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 325px) {
  .pricingComponentGold {
    height: 620px;
  }
  .pricingComponentPlatinum {
    height: 780px;
  }
  .pricingComponentPricingHeader {
    font-size: 30px;
  }
}


@media screen and (max-height: 875px) {
  .dropdown {
    padding: 125px 85px;
  }
  .dropdownSocials {
    margin-top: 50px;
  }
}

@media screen and (max-height: 800px) {
  .dropdownElements {
    gap: 35px;
  }
  .dropdownElement {
    font-size: 30px;
  }
}
@media screen and (max-height: 650px) {
  .dropdown  {
    padding: 75px 85px;
  }
  .dropdownSocials {
    margin-top: 35px;
  }
}

.ranking-grid {
  display: grid;
  margin-top: 50px;
  gap: 20px;
}

.ranking-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.ranking-align {
  width: 100%;
  display: flex;
  justify-content: center;
}

b {
  font-weight: 800;
}

.ranking-buttons {
  display: flex;
  gap: 20px;
}

.silverComponentAlign {
	img {
		width: 100%;
		max-width: 1000px;
		margin: 0px 20px;	
	}
}

@media screen and (max-width: 600px) {
  .tempGrid {
    grid-template-columns: 1fr;
  }
  .tempMain h1 {
    font-size: 65px;
  }
}